env:
  global:
    - CC_TEST_REPORTER_ID=e8c07eafc36695e4cf5f8f83d7f841b4d3dc9294679ef6e1d76319e802693bbb
language: ruby
rvm:
 - 2.2
 - jruby
cache:
  - bundler
  - yarn
services:
  - postgresql
before_install:
  - nvm install --lts
  - yes | gem update --system --force
  - gem install bundler
before_script:
  - bundle install --jobs=3 --retry=3
  - yarn
  - bundle exec rake db:create
  - bundle exec rake db:schema:load
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rspec
after_script:
- ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
