.text-center.jumbotron
  %h1 Events
%br
.container
  %ul.list-group
    - @events.each do |event|
      %li.list-group-item.d-flex.justify-content-between.align-items-center
        .d-flex.flex-column
          = event.title
          .small= event.description
        .btn-group
          %button.btn.btn-primary
            Edit
          %button.btn.btn-primary
            Delete
    %br
    = paginate @events
  